{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{% static './node_modules/bootstrap/dist/css/bootstrap.min.css'%}"
    />
    <link rel="stylesheet" href="{% static './css/style.css'%}" />

    <title>Login</title>
  </head>
  <body>
    <div class="container">
    </div>

    <script src="{% static './node_modules/jquery/dist/jquery.min.js'%}"></script>
    <script src="{% static './node_modules/popper.js/dist/umd/popper.min.js'%}"></script>
    <script src="{% static './node_modules/bootstrap/dist/js/bootstrap.min.js'%}"></script>
  </body>
</html>

      